@using Fiorello.ViewModels.Products
@model ProductLoadMoreVM

@foreach (var product in Model.Products)
{
	<div class="mkdf-pli mkdf-item-space ">
		<div class="mkdf-pli-inner">
			<div class="mkdf-pli-image">
				<span class="mkdf-pli-new-product">@product.Type.ToString()</span>
				<img width="620" height="800"
					 src="~/assets/img/@product.ProductPhotos.FirstOrDefault(p => p.IsMain).Name"
					 class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
					 alt="h"
					 sizes="(max-width: 620px) 100vw, 620px"
					 loading="eager" />
			</div>
			<a class="mkdf-pli-link" itemprop="url"
			   href="../../product/schefflera/index.html"
			   title="@product.Title"></a>
		</div>
		<div class="mkdf-pli-text-wrapper">
			<h6 itemprop="name"
				class="entry-title mkdf-pli-title">
				<a itemprop="url"
				   href="../../product/schefflera/index.html">@product.Title</a>
			</h6>
			<div class="mkdf-pli-add-to-cart mkdf-default-skin">
				<a rel="nofollow"
				   href="indexcb0b.html?add-to-cart=246"
				   id="addToCart"
				   data-id="@product.Id"
				   data-quantity="1" data-product_id="246"
				   data-product_sku="563654"
				   class="button add_to_cart_button ajax_add_to_cart mkdf-button">
					Add
					to cart
				</a>
			</div>
			<div class="mkdf-pli-price">
				<span class="woocommerce-Price-amount amount">
					<span class="woocommerce-Price-currencySymbol">&#036;</span>@product.Price
				</span>
			</div>
		</div>
	</div>
}
@section Scripts{
<script src="~/assets/js/basket.js"></script>
}